In [1]:
import requests as req
import pandas as pd
import json

In [2]:
df = pd.read_csv('2010-Q4-cabi-trip-history-data.csv')
df.head()

,Duration,Start date,End date,Start station,End station,Bike#,Member Type
0,14h 26min. 2sec.,12/31/2010 23:49,1/1/2011 14:15,10th & U St NW (31111),10th & U St NW (31111),W00771,Casual
1,0h 8min. 34sec.,12/31/2010 23:37,12/31/2010 23:46,10th & U St NW (31111),14th & R St NW (31202),W01119,Registered
2,0h 12min. 17sec.,12/31/2010 23:27,12/31/2010 23:39,Park Rd & Holmead Pl NW (31602),14th St & Spring Rd NW (31401),W00973,Registered
3,0h 15min. 53sec.,12/31/2010 23:21,12/31/2010 23:37,Calvert St & Woodley Pl NW (31106),14th St & Spring Rd NW (31401),W00914,Registered
4,0h 36min. 19sec.,12/31/2010 23:20,12/31/2010 23:56,20th St & Florida Ave NW (31110),Columbus Circle / Union Station (31623),W00859,Casual

In [3]:
unique_station = df.drop_duplicates(['Start station'])
unique_station_df = pd.DataFrame(unique_station['Start station'])
unique_station_df.head()

                        Start station
0              10th & U St NW (31111)
2     Park Rd & Holmead Pl NW (31602)
3  Calvert St & Woodley Pl NW (31106)
4    20th St & Florida Ave NW (31110)
5     Lamont & Mt Pleasant NW (31107)

In [4]:
stations = []
for string in unique_station_df['Start station']:
    string = string[:-8]
    stations.append(string)
    
unique_station_df['Start station'] = stations
unique_station_df['Latitude']=''
unique_station_df['Longitude']=''
unique_station_df['Neighborhood'] = ''
unique_station_df = unique_station_df.apply(lambda x: x.str.replace(' ','+'))
unique_station_df.head()

                Start station Latitude Longitude Neighborhood
0              10th+&+U+St+NW
2     Park+Rd+&+Holmead+Pl+NW
3  Calvert+St+&+Woodley+Pl+NW
4    20th+St+&+Florida+Ave+NW
5     Lamont+&+Mt+Pleasant+NW

In [5]:
for index, station in unique_station_df.iterrows():
    url = 'https://geocoder.cit.api.here.com/6.2/geocode.json'
    app_id = 'YWmtXt51i4qEk4VlEacJ'
    app_code = 'Sna1EDDyBUc7m8EfvgmwMw'
    city = 'Washington'
    street = station
    params = {'app_id':app_id,'app_code':app_code,'city':city,'street':street}
    
    response = req.get(url,params).json()
    try:
        lat = response['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Latitude']
        lng = response['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Longitude']
    
        unique_station_df.set_value(index,'Latitude',lat)
        unique_station_df.set_value(index,'Longitude',lng)
    except IndexError:
        print('Oops!')
    
unique_station_df.head()

Oops!
Oops!
Oops!
Oops!
Oops!
Oops!
Oops!
Oops!

                Start station Latitude Longitude Neighborhood
0              10th+&+U+St+NW  38.6569  -87.1879
2     Park+Rd+&+Holmead+Pl+NW  38.9309  -77.0309
3  Calvert+St+&+Woodley+Pl+NW  38.9235  -77.0502
4    20th+St+&+Florida+Ave+NW  38.9151  -77.0449
5     Lamont+&+Mt+Pleasant+NW  38.9306  -77.0381

In [6]:
for index, row in unique_station_df.iterrows():
    gkey = 'AIzaSyDCL4okv3TmJwq_KF_kmYx9ZziFcZAgNb0'
    url2 = 'https://maps.googleapis.com/maps/api/geocode/json?'
    lati = row['Latitude']
    lngi = row['Longitude']
    params = {'key':gkey,'latlng':str(lati) + ',' + str(lngi),'result_type':'neighborhood'}
    
    resp = req.get(url2,params=params).json()
    try:
        neigh = resp['results'][0]['address_components'][0]['long_name']
        unique_station_df.set_value(index,'Neighborhood',neigh)
    except IndexError:
        print("Couldn't find neighborhood for {0}, {1}".format(lati, lngi))
unique_station_df.tail()

Couldn't find neighborhood for 38.65686, -87.1879
Couldn't find neighborhood for 41.30537, -91.68459
Couldn't find neighborhood for 38.88979, -76.98829
Couldn't find neighborhood for 38.88979, -76.98829
Couldn't find neighborhood for ,
Couldn't find neighborhood for ,
Couldn't find neighborhood for 44.80444, -88.46682
Couldn't find neighborhood for ,
Couldn't find neighborhood for 44.80444, -88.46682
Couldn't find neighborhood for 38.65691, -87.17649
Couldn't find neighborhood for 38.65695, -87.17018
Couldn't find neighborhood for 38.55024, -90.99497
Couldn't find neighborhood for ,
Couldn't find neighborhood for 54.89486, -1.5081
Couldn't find neighborhood for 44.80444, -88.46682
Couldn't find neighborhood for ,
Couldn't find neighborhood for 38.55039, -90.99257
Couldn't find neighborhood for 44.80444, -88.46682
Couldn't find neighborhood for ,
Couldn't find neighborhood for 44.80444, -88.46682
Couldn't find neighborhood for ,
Couldn't find neighborhood for 54.89486, -1.5081
Couldn't find neighborhood for ,

,Start station,Latitude,Longitude,Neighborhood
15689,Randle+Circle+&+Minnesota+Ave+NE,38.8966,-76.9477,Lower Central NE
24512,Anacostia+Metro,38.8327,-77.014,Southwest Washington
33031,Benning+Branch+Library,,,
45045,Nannie+Helen+Burroughs+&+Minnesota+Ave+NE,38.9019,-76.9426,Deanwood
96357,19th+&+New+Hampshire+Ave+NW+(Dupont+Circle+south),38.9077,-77.0453,Dupont Circle

In [82]:
gkey = 'AIzaSyDCL4okv3TmJwq_KF_kmYx9ZziFcZAgNb0'
url2 = 'https://maps.googleapis.com/maps/api/geocode/json'
lati = 38.8966
lngi = -76.9477	
params = {'key':gkey,'latlng':str(lati) + ',' + str(lngi),'result_type':'neighborhood'}
    
neigh = req.get(url2,params).json()
neigh['results'][0]['address_components'][0]['long_name']

'Lower Central NE'