In [15]:
import requests as req
import json
import pandas as pd

In [16]:
url = 'https://geocoder.cit.api.here.com/6.2/geocode.json'

In [17]:
app_id='YWmtXt51i4qEk4VlEacJ'
app_code='Sna1EDDyBUc7m8EfvgmwMw'
city='Washington'
street='10th+&+U+St+NW'
params = {'app_id':app_id,'app_code':app_code,'city':city,'street':street}

In [19]:
response = req.get(url,params).json()
#res = json.dumps(response)
lat = response['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Latitude']
lng = response['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Longitude']
lng

-87.1879

In [11]:
#Code to replace ' ' with '+' in intersection
sample = ['10th & U St NW','Park Rd & Holmead Pl NW','Calvert St & Woodley Pl NW']
df = pd.DataFrame()
df['Test Intersections'] = sample
df

           Test Intersections
0              10th & U St NW
1     Park Rd & Holmead Pl NW
2  Calvert St & Woodley Pl NW

In [14]:
df = df.apply(lambda x: x.str.replace(' ','+'))

df

           Test Intersections
0              10th+&+U+St+NW
1     Park+Rd+&+Holmead+Pl+NW
2  Calvert+St+&+Woodley+Pl+NW

In [33]:
gkey = 'AIzaSyDCL4okv3TmJwq_KF_kmYx9ZziFcZAgNb0'
url2 = 'https://maps.googleapis.com/maps/api/geocode/json'
lati = 38.8966
lngi = -76.9477	
params = {'key':gkey,'latlng':str(lati) + ',' + str(lngi),'result_type':'neighborhood'}
    
neigh = req.get(url2,params).json()
neigh['results'][0]['address_components'][0]['long_name']

'Lower Central NE'